<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Devil's Food Cake Cookies - USF ISM 6225</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="plugins/modal-video/modal-video.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

<!-- HEADER OF ALL PAGES     -->
	<nav class="navbar navbar-expand-lg  py-4 navigation header-padding nav-text-white" id="navbar">
		<div class="container-fluid">
		  <a class="navbar-brand" href="index.html">
		  	<img src="images/usf-horns-logo.png" alt="" class="img-fluid hidden-logo">
		  	<img src="images/usf-horns-logo.png" alt="" class="img-fluid mobile-logo">
		  </a>

		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav m-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
			   <!--<li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>-->
			   
			   <li class="nav-item"><a class="nav-link" href="project.html">Portfolio</a></li>
			   <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="recipes-sidebar.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
				<ul class="dropdown-menu" aria-labelledby="dropdown05">
					<li><a class="dropdown-item" href="CreamyChickenCasserole2.html">Creamy Chicken Casserole</a></li>

					<li><a class="dropdown-item" href="GuinnessBeefStew2.html">Instant Pot Guinness Beef...</a></li>
				
					<li><a class="dropdown-item" href="EggBites2.html">Bacon and Italian Cheese...</a></li>

					<li><a class="dropdown-item" href="recipes-sidebar.html">See all recipes</a></li>
				</ul>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>
		  </div>
		</div>
	</nav>


<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
 
          <h1 class="text-capitalize mb-5 text-lg">Recipes</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="recipes-sidebar.html" class="text-white-50">Recipes</a></li>
			<li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="DevilsFoodCakeCookies2.html" class="text-white-50">Devil's Food Cake Cookies</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
	<div class="col-lg-12 mb-5">
		<div class="single-blog-item">
			<img src="images/recipes/cookies2.jpg" alt="" class="img-fluid rounded">

			<div class="blog-item-content mt-4">
				<h2 class="mt-3 mb-3 text-md">Devil's Food Cake Cookies</a></h2>
				<div class="blog-item-meta mb-5">
					<span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>253 Likes</span>
					<span class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i>2 Comments</span>
					<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> 25th June 2017</span>
				</div> 

				<p class="lead mb-4">This recipe is an easy way to make large batches of cookies with only a few ingredients, one of which
                    being a cake mix. The recipe is easy to make your own, as items like peppermint (suggested in the recipe), 
                    walnuts or chocolate chips can be a great way to customize it. Makes about 36 cookies. </p>

				<blockquote class="quote">
					<center>
					While this recipe is meant to be made in bulk, check out our other recipes for our automatic serving size adjuster!
					
					</center>
				</blockquote>

				<h5 class="blog-item-content mt-4">
					Ingredients
				</h5>

				<h6 class="blog-item-content mt-4">
					
					<table id="Ingredients" style="text-align:center" border="3">
						<tr>
                            <th>1 Package Dunkin Hines Devil's Food Cake Mix</th>
                            <th>2 Large Eggs</th>
                        </tr>
                        <tr>
                            <th>1/2 Cup Vegtable Oil</th>
                            <th>1 Package Candy Canes (Optional)</th>
                        </tr>
				
						</table>
						
				</h6>

				<h5 class="blog-item-content mt-4">
					Kitchen Needs
				</h5>

				<h6 class="blog-item-content mt-4">
					<table id= "Kitchen Needs" style="text-align:center" border="3">
						
						<tr>
                            <th>Large Bowl</th>
                            <th>Mixer or Whisk</th>
                        </tr>
                        <tr>
                            <th>2 cookie sheets</th>
                            <th>Spatula</th>
                        </tr>
                        <tr>
                        <th>Ziploc Bags (Optional)</th>
                        <th>Something hard and sturdy (ex: metal thermos) (optional)</th>
                        </tr>
						</table>
					
				</h6>
				<br><br>
				<h5><font color=black>
					Instructions
					</h5>
					<p><hr color="black" width = "100%"></p>
			    
	
                    <p>
                        1. Preheat the oven to 350 degrees Fahrenheit and grease the baking sheets. <br><br>
                        2. Combine cake mix, eggs and oil in a large bowl. Stir until thoroughly blended. <br>
                            Shape dough into 36 (1 1/4-inch) balls. <br>
                            Place dough balls 2 inches apart on prepared baking sheets. <br><br>
                        3. (Optional step) While cookies are baking, place candy canes into ziploc bags. <br>
                            Break the candy canes into small pieces using the hard and sturdy object.
                             <br><br>
                        4. Bake cookies in the oven for 10 to 11 minutes. <br>
                           Cookies will look moist when pulling them out - do not overbake. <br><br>
                        5. (Optional Step) Immediately after pulling cookies out of the oven, sprinkle the candy cane
                            pieces on the cookies. <br><br>
                        6. Let the cookies cool for 2 minutes. <br>
                            For chewy cookies, move them off the baking sheets now. <br>
                            For crispy cookies, wait another 4-5 minutes before moving them off the baking sheet.  <br><br>
                        </p> </font>

			<h3><font color=green>Enjoy!</font></h3>
				<div class="tag-option mt-5 clearfix">
				         

				    <ul class="float-right list-inline">
				        <li class="list-inline-item"> Share: </li>
				        <li class="list-inline-item"><a  target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a  target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a  target="_blank"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
				        <li class="list-inline-item"><a  target="_blank"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
				    </ul>
			    </div>
			</div>
		</div>
	</div>


	<div class="col-lg-12 mb-5">
		<div class="posts-nav bg-gray p-5 d-lg-flex d-md-flex justify-content-between ">
			<div class="posts-prev-item mb-4 mb-lg-0">
				<span class="nav-posts-desc">- Previous Recipe</span>
				<h6 class="nav-posts-title mt-1">
					<a href="CreamyChickenCasserole2.html">Creamy Chicken Casserole</a>
				</h6>
			</div>
			<div class="border"></div>

			<div class="posts-next-item pt-4 pt-lg-0">
				<span class="nav-posts-desc text-lg-right text-md-right d-block">- Next Recipe</span>
				<h6 class="nav-posts-title mt-1">
					<a href="EggBites2.html">Bacon and Italian Cheese Egg Bites</a>
				</h6>
			</div>
		</div>
	</div>

	<div class="col-lg-12">
		<div class="comment-area mt-4 mb-5">
			<h4 class="mb-4">2 Comments</h4>
			<ul class="comment-tree list-unstyled">
				<li class="mb-5">
					<div class="comment-area-box">

						<div class="comment-info">
							<h5 class="mb-1">Lonnie G.</h5>
							<span>Arizona</span>
							<span class="date-comm">| Posted December 7, 2018</span>
						</div>
						<div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
							<i class="icofont-reply mr-2 text-muted"></i>Reply
							
						</div>

						<div class="comment-content mt-3">
							<p> These cookies made it feel like Christmas! </p>
						</div>
					</div>
				</li>

				<li>
					<div class="comment-area-box">
						

						<div class="comment-info">
							<h5 class="mb-1">Daniel</h5>
							<span>Texas</span>
							<span class="date-comm">| Posted November 28, 2021</span>
						</div>

						<div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
							<i class="icofont-reply mr-2 text-muted"></i>Reply 
							
						</div>

						<div class="comment-content mt-3">
							<p> I liked the candy canes in the cookies. It gave a great contrast to the chocolate. </p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-lg-12">
		<form class="comment-form mt-5" id="comment-form">
			<h4 class="mb-4">Write a comment</h4>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" name="name" id="name" placeholder="Name:">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
					</div>
				</div>
			</div>


			<textarea class="form-control mb-4" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>

			<input class="btn btn-main" type="button" name="submit-contact" id="submit_contact" onclick=comments()  value="Submit Message">
		</form>
	</div>
</div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
	<div class="sidebar-widget search  mb-3 ">
		<h5>Search Here</h5>
		<form action="recipes-sidebar.html" class="search-form">
			<input type="text" class="form-control" placeholder="search">
			<i class="ti-search"></i>
		</form>
	</div>


	<div class="sidebar-widget latest-post mb-3">
		<h5>Latest Recipes</h5>

        <div class="media py-3">
            
            <div class="media-body">
            	<span class="text-sm text-muted">03 Mar 2021</span>
                <h6 class="my-2"><a href="CreamyChickenCasserole2.html">Creamy Chicken Casserole</a></h6>
            </div>
        </div>

        <div class="media py-3">
            
           <div class="media-body">
           		<span class="text-sm text-muted">27 Nov 2021</span>
                <h6 class="my-2"><a href="GuinnessBeefStew2.html">Guinness Beef Stew</a></h6>
            </div>
        </div>

        <div class="media py-3">
            
            <div class="media-body">
            	<span class="text-sm text-muted">12 Feb 2022</span>
                <h6 class="my-2"><a href="EggBites2.html">Bacon and Italian Cheese Egg Bites</a></h6>
            </div>
        </div>
	</div>

	<div class="sidebar-widget category mb-3">
		<h5 class="mb-4">Categories</h5>

		<ul class="list-unstyled">
		  <li class="align-items-center">
		    <a >Dessert</a>
		    <span>(10)</span>
		  </li>
		  <li class="align-items-center">
		    <a >Christmas</a>
		    <span>(3)</span>
		  </li>
		</ul>
	</div>


	<div class="sidebar-widget tags mb-3">
		<h5 class="mb-4">Keywords</h5>

		<a>Easy</a>
		<a>Large Batch</a>
		<a>Customize</a>

	</div>

	

</div>
      </div>
    </div>
  </div>
</section>


<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3>Analytics With USF Bulls</h3>
					</div>
					<p>We strive to create innovative solutions for the challenges your projects face. From visualizations, to analytics, to web design, we've got you covered!</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
            <li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="project.html">Portfolio</a></li>
            <li><a href="recipes-sidebar.html">Recipes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>-->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a  style="color: white;"> <i class="ti-headphone-alt mr-3"></i>support@ism6225.com</a></h6>
					<h6><a  style="color: white;"> <i class="ti-mobile mr-3"></i>123-456-7890</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="https://www.facebook.com/USouthFlorida/"><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/USouthFlorida"><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/school/usouthflorida/"><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Orbitor</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
   

    <!-- 
    Essential Scripts - not ours
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

     <script src="plugins/modal-video/modal-video.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>

  </body>
  </html>