<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>USF Bulls Analytics - Project Recipe</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="plugins/modal-video/modal-video.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>


	<nav class="navbar navbar-expand-lg  py-4 navigation header-padding nav-text-white" id="navbar">
		<div class="container-fluid">
		  <a class="navbar-brand" href="index.html">
		  	<img src="images/usf-horns-logo.png" alt="" class="img-fluid hidden-logo">
		  	<img src="images/usf-horns-logo.png" alt="" class="img-fluid mobile-logo">
		  </a>

		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
			<span class="fa fa-bars"></span>
		  </button>
	  
		  <div class="collapse navbar-collapse text-center" id="navbarsExample09">
			<ul class="navbar-nav m-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
			  </li>
			   <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
			   <!--<li class="nav-item"><a class="nav-link" href="service.html">Services</a></li>-->
			   
			   <li class="nav-item"><a class="nav-link" href="project.html">Portfolio</a></li>
			   <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="recipes-sidebar.html" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recipes</a>
				<ul class="dropdown-menu" aria-labelledby="dropdown05">
					<li><a class="dropdown-item" href="CreamyChickenCasserole2.html">Creamy Chicken Casserole</a></li>

					<li><a class="dropdown-item" href="GuinnessBeefStew2.html">Instant Pot Guinness Beef...</a></li>
				
					<li><a class="dropdown-item" href="EggBites2.html">Bacon and Italian Cheese...</a></li>

					<li><a class="dropdown-item" href="recipes-sidebar.html">See all recipes</a></li>
				</ul>
			  	</li>
			   <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>
		  </div>
		</div>
	</nav>


<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white"></span>
          <h1 class="text-capitalize mb-5 text-lg">Project Recipe</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="project-details.html" class="text-white-50">Project Recipe</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section case-study">
	<div class="container">
		<div class="row">
			<div class="row">
				<div class="col-lg-6">
					<div class="case-img">
						<img src="images/about/about.jpg" alt="" class="img-fluid">
					</div>
				</div>

				<div class="col-lg-6 col-md-8">
					<div class="case-content pl-4 mt-4 mt-lg-0">
						<h3 class="mb-3">Recipe Recommender System</h3>

						<p>The goal for this project was to create a recommender system to identify which recipes can be made using the items already in your pantry!</p>

						<ul class="list-unstyled project-info-list">
							<li><strong>Project Name: </strong>Project Recipe</li>

							<li><strong>Client: </strong>University of South Florida</li>
							<li><strong>Project Start Date:</strong> August 23, 2022</li>

							<li><strong>Project Completion Date:</strong> November 29, 2022</li>
							<!--<li><strong>Project url:</strong> www.example.com</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="Chart.js 1">

	<canvas id="myChart" width="85%" height="35%"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

    <script>
    const ctx = document.getElementById("myChart");
    const myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: [["Chicken", "Cacciatore"], ["Irish Guinness", "Stew"], ["Unsuffed", "Cabbage Stew"], ["Mom's Zucchini", "Bread"], ["Bacon and Italian", "Cheese Egg Bites"], ["Creamy Chicken", "Casserole"], ["Devil's Food", "Cake Cookies"]],
            datasets: [{
                label: "# of Views",
                data: [147, 123, 90, 82, 67, 55, 31],
                backgroundColor: [ /*Using Color Blind Palette from Tableau*/
                    'rgba(0, 107, 164, 0.5)',
                    'rgba(255, 128, 14, 0.5)',
                    'rgba(171, 171, 171, 0.5)',
                    'rgba(89, 89, 89, 0.5)',
                    'rgba(95, 158, 209, 0.5)',
                    'rgba(200, 82, 0, 0.5)',
                    'rgba(137, 137, 137, 0.5)'
                ],
                borderColor: [
                    'rgba(0, 107, 164, 1)',
                    'rgba(255, 128, 14, 1)',
                    'rgba(171, 171, 171, 1)',
                    'rgba(89, 89, 89, 1)',
                    'rgba(95, 158, 209, 1)',
                    'rgba(200, 82, 0, 1)',
                    'rgba(137, 137, 137, 1)'

                ],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                display: false
                },
                title: {
                    display: true,
                    text: '# of Views for each Recipe',
                    padding: {
                        top: 10,
                        bottom: 30
                    },
                    font: {
                        size: 20,
                        weight: 'bold'
                    }
                }
            },
            scales: {
                y: {
                    /*ticks: {
                        font: {
                            weight: 'bold'
                        }
                    },*/
                    beginAtZero: true
                }
            }
        }
    });
    </script>

</section>

<br>
<br>
<br>

<section class="section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="mb-5 mb-lg-0">
					<img src="images/about/process-1.jpg" alt="" class="img-fluid">
					<h4 class="mt-3">Our Strategies</h4>
					<p>We pride ourselves on our collaboration and communication skills and using them to set up a clear and attainable plan of action.</p>
				</div>
			</div>

			<div class="col-lg-4 col-md-6">
				<div class="mb-5 mb-lg-0">
					<img src="images/about/process-2.jpg" alt="" class="img-fluid">
					<h4 class="mt-3">Our Challenges</h4>
					<p>You know your business better than anyone. We love to hear your feedback along the way to make sure we are hitting the milestones necessary for your continued success.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="mb-0">
					<img src="images/about/process-3.jpg" alt="" class="img-fluid">
					<h4 class="mt-3">Our Success</h4>
					<p>Your success is our success. Supporting your business's growth and development is our ultimate goal.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<section class="section single-testimonial bg-gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="single-testimonial-block text-center">
					<h2 class="mb-4">Testimonial</h2>
					<img src="images/team/testimonial1.jpg" alt="" class="img-fluid rounded-circle">

					<div class="info mb-4 mt-4">
						<h6 class="mb-0">John Partho</h6>
						<span>Newyork USA</span>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ex atque pariatur consequuntur maiores asperiores laudantium repellendus dolore quia eaque reprehenderit aliquam, quisquam similique dignissimos quas culpa eum fugit. Dolore.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
-->

<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 mr-auto col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<div class="logo mb-4">
						<h3>Analytics With USF Bulls</h3>
					</div>
					<p>We strive to create innovative solutions for the challenges your projects face. From visualizations, to analytics, to web design, we've got you covered!</p>
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
            <li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="project.html">Portfolio</a></li>
            <li><a href="recipes-sidebar.html">Recipes</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>-->
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="widget widget-contact mb-5 mb-lg-0">
					<h4 class="text-capitalize mb-4">Get in Touch</h4>
					<h6><a  style="color: white;"> <i class="ti-headphone-alt mr-3"></i>support@ism6225.com</a></h6>
					<h6><a  style="color: white;"> <i class="ti-mobile mr-3"></i>123-456-7890</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="https://www.facebook.com/USouthFlorida/"><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://twitter.com/USouthFlorida"><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a href="https://www.linkedin.com/school/usouthflorida/"><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Orbitor</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
   

    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.js"></script>
    <script src="js/contact.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="plugins/bootstrap/js/popper.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
   <!--  Magnific Popup-->
    <script src="plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="plugins/counterup/jquery.counterup.min.js"></script>

     <script src="plugins/modal-video/modal-video.js"></script>
    <!-- Google Map -->
    <script src="plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="js/script.js"></script>

  </body>
  </html>